Repository nais/doc, changes with the owners that CODEOWNERS names for each.
All owners: @nais/nais, @Muni10, @kimtore, @christeredvartsen, @toby1knby, @frodesundby, @jhrv, @Starefossen, @mortenlj, @tommytroen, @ybelMekk, @tronghn

CODEOWNERS:

*.md @nais/nais

docs/clusters/* @Muni10

docs/deployment/* @kimtore
docs/basics/application.md @kimtore
docs/nais-application/* @kimtore
docs/naisjob/* @kimtore

docs/basics/teams.md @christeredvartsen

docs/device/* @toby1knby

docs/legal/* @frodesundby @jhrv

docs/observability/* @Starefossen
docs/addons/unleash.md @Starefossen

docs/persistence/* @mortenlj

docs/security/* @tommytroen
docs/security/salsa/* @ybelMekk
docs/security/auth/* @tronghn
docs/addons/wonderwall.md @tronghn

Disable git stuff for localhost
  mkdocs.yml
Owners: none

Update poetry packages
  poetry.lock
  pyproject.toml
Owners: none

doc: update plan examples for opensearch
  docs/persistence/open-search.md
Owners: @mortenlj

update notes on the postgres 15 public schema permissions change
  docs/persistence/postgres.md
Owners: @mortenlj

Update intro to naisdevice in index
  docs/README.md
  docs/assets/naisdevice-logo.svg
Owners: @nais/nais

Update intro to naisdevice in index (#578)
  docs/README.md
  docs/assets/naisdevice-logo.svg
Owners: @nais/nais

Update mkdocs.yml
  mkdocs.yml
Owners: none

Add page authors and fix all the links (#574)
  .github/workflows/main.yml
  .gitignore
  docs/README.md
  docs/basics/teams.md
  docs/cli/commands/aiven.md
  docs/cli/commands/device.md
  docs/clusters/gcp.md
  docs/clusters/on-premises.md
  docs/deployment/github-action.md
  docs/device/install-tenant.md
  docs/device/install.md
  docs/device/jita.md
  docs/legal/roles-responsibilities.md
  docs/nais-application/application.md
  docs/naisjob/README.md
  docs/naisjob/reference.md
  docs/observability/README.md
  docs/observability/frontend/README.md
  docs/observability/logs/README.md
  docs/observability/metrics.md
  docs/persistence/bigquery.md
  docs/persistence/kafka/application.md
  docs/persistence/kafka/offsets.md
  docs/security/apigateway/README.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Owners: @nais/nais, @christeredvartsen, @Muni10, @kimtore, @toby1knby, @frodesundby, @jhrv, @Starefossen, @mortenlj

Update grafana.md
  docs/observability/grafana.md
Owners: @Starefossen

Update grafana.md
  docs/observability/grafana.md
Owners: @Starefossen

Update grafana.md (#582)
  docs/observability/grafana.md
Owners: @Starefossen

guide: feil i permissions
  docs/guides/oci-migration.md
Owners: @nais/nais

deployment: feil i permissions
  docs/deployment/README.md
Owners: @kimtore

guide: feil i permissions (#583)
  docs/deployment/README.md
  docs/guides/oci-migration.md
Owners: @kimtore, @nais/nais

basic setup of poetry
  README.md
  poetry.lock
Owners: @nais/nais

Automatic update of nais application reference/example
  docs/nais-application/application.md
  docs/nais-application/example.md
  docs/naisjob/reference.md
Owners: @kimtore

refactor(apigateway): add every option to ratelimit in example
  docs/security/apigateway/README.md
Owners: @nais/nais

High level overview of service discovery
  docs/clusters/service-discovery.md
Owners: @Muni10

High level overview of service discovery (#584)
  docs/clusters/service-discovery.md
Owners: @Muni10

doc[ingress]: nav.no ruller ut automatisk nå
  docs/clusters/gcp.md
Owners: @Muni10

doc[ingress]: nav.no ruller ut automatisk nå (#585)
  docs/clusters/gcp.md
Owners: @Muni10

Automatic update of nais application reference/example
  docs/nais-application/application.md
  docs/nais-application/example.md
Owners: @kimtore

Update decission tree for Redis persistence
  docs/persistence/README.md
  docs/persistence/kafka/README.md
  docs/persistence/redis.md
Owners: @mortenlj, @nais/nais

Update decission tree for Redis persistence (#592)
  docs/persistence/README.md
  docs/persistence/kafka/README.md
  docs/persistence/redis.md
Owners: @mortenlj, @nais/nais

User defined log config
  docs/observability/README.md
  docs/observability/logs/README.md
  docs/observability/logs/elastic.md
  docs/observability/logs/loki.md
  docs/observability/logs/securelogs.md
Owners: @Starefossen, @nais/nais

Add better overview and start on the Loki docs
  docs/observability/README.md
  docs/observability/logs/README.md
Owners: @Starefossen, @nais/nais

Fix link to section in same file
  docs/persistence/README.md
Owners: @mortenlj

fix-a-link (#593)
  docs/persistence/README.md
Owners: @mortenlj

Add more information about loki
  docs/assets/grafana-loki-poster.png
  docs/observability/logs/README.md
Owners: @nais/nais
